<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view3">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">IM</div>
      <!--agregar cliente!-->
      <div class="row">
     <h1 class="col-lg-12">AGREGAR CLIENTE</h1>
     <input type="text" placeholder="Ingrese el Cliente" value="{{prop3::input}}"/>
     <input type="text" placeholder="Ingrese el Nombre" value="{{prop4::input}}"/>
     <input type="text" placeholder="Ingrese el Apellido" value="{{prop5::input}}"/>
     <input type="text" placeholder="Ingrese el email" value="{{prop6::input}}"/>
     <input type="text" placeholder="Ingrese el Password" value="{{prop7::input}}"/>
     <div>
     <button on-click="anadirCliente">Agregar Cliente</button>
     </div>
      </div>
      <!---->
    </div>
  </template>

  <script>
    class MyView3 extends Polymer.Element {
      static get is() { return 'my-view3'; }
      static get properties() {
        return {
         prop3: {
           type: Number
           //value: 'mi-visor'
         },
         prop4: {
           type: String
           //value: 'mi-visor'
         },
         prop5: {
           type: String
           //value: 'mi-visor'
         },
         prop6: {
           type: String
           //value: 'mi-visor'
         },
         prop7: {
           type: String
           //value: 'mi-visor'
         }
        };
      }


//Validar
      anadirCliente(){
       var request = new XMLHttpRequest();
       var urlB="http://127.0.0.1:3002/agregarClient/"+this.prop3+"/"+this.prop4+"/"+this.prop5+"/"+this.prop6+"/"+this.prop7;
        request.open("GET",urlB,false);
        request.send();
        alert('Cliente Agregado correctamente');
        //this.clienteE=JSON.parse(request.responseText);
        //console.log(this.clientes);
     }
    }

    window.customElements.define(MyView3.is, MyView3);
  </script>
</dom-module>
