<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view2">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      table, th, td {
    border: 2px solid black;
    }
    </style>


    <div class="card">
      <div class="circle">IM</div>
    <!--buscar cliente!-->
    <div class="row">
   <h1 class="col-lg-12">BUSCAR MOVIMIENTOS POR CLIENTE</h1>
   <input type="text" placeholder="Ingrese el Nombre" value="{{prop1::input}}"  />
   <button on-click="obtenerCliente">BuscarCliente</button>
   <table>
     <thead>
       <tr>
         <th>
           FechaMov
         </th>
         <th>
           Importe
         </th>
         <th>
           Tipo de Movimiento
         </th>
       </tr>
     </thead>
     <tbody>
       <template is = "dom-repeat" items="{{movimientos}}">
      <tr>
       <td>
         [[item.fecha]]
       </td>
       <td>
         [[item.importe]]
       </td>
       <td>
         [[item.tipo]]
       </td>
      </tr>
       </template>
     </tbody>
   </table>
    </div>
    <!---->
  </div>
  </div>
  </template>

  <script>
    class MyView2 extends Polymer.Element {
      static get is() { return 'my-view2'; }
      static get properties() {
        return {
         cliente: {
           type:Array,
           notify:true
         },
         clienteM: {
           type:Array,
           notify:true
         },
         movimiento: {
           type:Array,
           notify:true
         },
         prop1: {
           type: String
           //value: 'mi-visor'
         }
       };
       }

      obtenerCliente (){
         var request = new XMLHttpRequest();
         var urlB="http://127.0.0.1:3002/revisarElemento/nombre/"+this.prop1;
         request.open("GET",urlB, false);
         //request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
         request.send();
         //this.clientes=JSON.parse(request.responseText).value;
         this.cliente=JSON.parse(request.responseText);
         var idcliente=this.cliente[0].cliente;
         var urlM="http://127.0.0.1:3002/revisarMovimineto/cliente/"+idcliente;
         request.open("GET",urlM, false);
         request.send();
         this.clienteM=JSON.parse(request.responseText);
         this.movimientos=this.clienteM[0].listado;
         console.log(idcliente);
         console.log(this.cliente);
         console.log(this.clienteM);
         console.log(this.movimientos);
         
       }
    }

    window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>
