<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view5">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>


    <div class="card">
      <div class="circle">IM</div>
    <!--elimar cliente!-->
    <div class="row">
   <h1 class="col-lg-12">ELIMINAR CLIENTES</h1>
   <input type="text" placeholder="Ingrese el Nombre" value="{{prop2::input}}"/>
   <button on-click="eliminarCliente">Eliminar</button>
    </div>
    <!---->
  </div>
  </div>
  </template>

  <script>
    class MyView5 extends Polymer.Element {
      static get is() { return 'my-view5'; }
      static get properties() {
        return {
         prop3: {
           type: String
           //value: 'mi-visor'
         }
       };
      }


      eliminarCliente(){
        var request = new XMLHttpRequest();
        var urlB="http://127.0.0.1:3002/revisarElemento/nombre/"+this.prop2;
        request.open("GET",urlB, false);
        //request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
        request.send();
        //this.clientes=JSON.parse(request.responseText).value;
        this.cliente=JSON.parse(request.responseText);
        //idmongo=JSON.stringify(this.clientes[0]._id);
        var idcliente=this.cliente[0]._id.$oid;
        console.log(idcliente);
       var request = new XMLHttpRequest();
       var urlB="http://127.0.0.1:3002/borrarElemento/"+idcliente;
        request.open("GET",urlB, false);
        request.send();
        this.clienteE=JSON.parse(request.responseText);
        console.log(this.clientes);
     }
    }

    window.customElements.define(MyView5.is, MyView5);
  </script>
</dom-module>
